body {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $primary-txt;
  // background-color: $primary-bg;
  background-color: rgb(247, 246, 243);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  // width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and(min-width:1200px) {
    width: 1200px;
  }
}

.section {
  padding: 40px;
  margin-top: 20px;

  background: #ffffff;
  box-shadow: 9px 8px 43px -10px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}

.main-section {
  @include mq(tablet) {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

// test styles Mykola Kovalchuk

.patient-info {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  margin-bottom: 30px;
}

// .section__title {
//   margin-bottom: 50px;

//   font-size: 36px;
//   line-height: 1.167;
//   text-align: center;

//   color: $secondary-txt;
// }
