<select id="segm13" name="segm13" class="segments-input">
   <option selected>X</option>
</select>

<select id="segm14" name="segm14" class="segments-input">
    <optgroup label="Нормокінез">
        <option value="N" selected>N</option>
    </optgroup>
    
    <optgroup label="ГІпокінез">
        <option value="гіпо/N">гіпо/N</option>
        <option value="гіпо">гіпо</option>
    </optgroup>
    
    <optgroup label="Акінез">
        <option value="акі">акі</option>
        <option value="акі/гіпо">акі/гіпо</option>
        <option value="акі/дис">акі/дис</option>
    </optgroup>
    
    <optgroup label="Дискінез">
        <option value="дис">дис</option>
    </optgroup>
    
    <optgroup label="Гіперкінез">
        <option value="гіпер">гіпер</option>
    </optgroup>
</select>

<select id="segm15" name="segm15" class="segments-input">
    <optgroup label="Нормокінез">
        <option value="N" selected>N</option>
    </optgroup>
    
    <optgroup label="ГІпокінез">
        <option value="гіпо/N">гіпо/N</option>
        <option value="гіпо">гіпо</option>
    </optgroup>
    
    <optgroup label="Акінез">
        <option value="акі">акі</option>
        <option value="акі/гіпо">акі/гіпо</option>
        <option value="акі/дис">акі/дис</option>
    </optgroup>
    
    <optgroup label="Дискінез">
        <option value="дис">дис</option>
    </optgroup>
    
    <optgroup label="Гіперкінез">
        <option value="гіпер">гіпер</option>
    </optgroup>
</select>
