<select id="segm10" name="segm10">
    <optgroup label="Нормокінез">
        <option value="N" selected>N</option>
    </optgroup>
   
    <optgroup label="ГІпокінез">
        <option value="hypoN">гіпо/N</option>
        <option value="hypo">гіпо</option>
    </optgroup>

    <optgroup label="Акінез">
        <option value="aki">акі</option>
        <option value="akiHypo">акі/гіпо</option>
        <option value="akiDys">акі/дис</option>
    </optgroup>

    <optgroup label="Дискінез">
        <option value="dys">дис</option>
        <option value="hyper">гіпер</option>
    </optgroup>
</select>

<select id="segm11" name="segm11">
    <optgroup label="Нормокінез">
        <option value="N" selected>N</option>
    </optgroup>
   
    <optgroup label="ГІпокінез">
        <option value="hypoN">гіпо/N</option>
        <option value="hypo">гіпо</option>
    </optgroup>

    <optgroup label="Акінез">
        <option value="aki">акі</option>
        <option value="akiHypo">акі/гіпо</option>
        <option value="akiDys">акі/дис</option>
    </optgroup>

    <optgroup label="Дискінез">
        <option value="dys">дис</option>
        <option value="hyper">гіпер</option>
    </optgroup>
</select>

<select id="segm12" name="segm12">
    <optgroup label="Нормокінез">
        <option value="N" selected>N</option>
    </optgroup>
   
    <optgroup label="ГІпокінез">
        <option value="hypoN">гіпо/N</option>
        <option value="hypo">гіпо</option>
    </optgroup>

    <optgroup label="Акінез">
        <option value="aki">акі</option>
        <option value="akiHypo">акі/гіпо</option>
        <option value="akiDys">акі/дис</option>
    </optgroup>

    <optgroup label="Дискінез">
        <option value="dys">дис</option>
        <option value="hyper">гіпер</option>
    </optgroup>
</select>
