<select id="segm16" name="segm16"  class="segments-input">
    <option selected>X</option>
</select>

<select id="segm18" name="segm17" class="segments-input">
    <optgroup label="Нормокінез">
        <option value="N" selected>N</option>
    </optgroup>
   
    <optgroup label="ГІпокінез">
        <option value="hypoN">гіпо/N</option>
        <option value="hypo">гіпо</option>
    </optgroup>

    <optgroup label="Акінез">
        <option value="aki">акі</option>
        <option value="akiHypo">акі/гіпо</option>
        <option value="akiDys">акі/дис</option>
    </optgroup>

    <optgroup label="Дискінез">
        <option value="dys">дис</option>
    </optgroup>

    <optgroup label="Гіперкінез">
        <option value="hyper">гіпер</option>
    </optgroup>
</select>

<select id="segm18" name="segm18" class="segments-input">
    <optgroup label="Нормокінез">
        <option value="N" selected>N</option>
    </optgroup>
   
    <optgroup label="ГІпокінез">
        <option value="hypoN">гіпо/N</option>
        <option value="hypo">гіпо</option>
    </optgroup>

    <optgroup label="Акінез">
        <option value="aki">акі</option>
        <option value="akiHypo">акі/гіпо</option>
        <option value="akiDys">акі/дис</option>
    </optgroup>

    <optgroup label="Дискінез">
        <option value="dys">дис</option>
    </optgroup>

    <optgroup label="Гіперкінез">
        <option value="hyper">гіпер</option>
    </optgroup>
</select>
