<section class="section">
    <p class="section-title">Розміри серця</p>
    <!-- Правий шлуночок -->
    <label class="form__field">
        <span class="form__label">Правий шлуночок <span id="alert" class="form__alert"></span></span>
        <input class="form__input" placeholder="межі норми : 0.9-2.6 см" list="rv-sizes" step="0.1" type="number" name="rv"
            id="rv">
    </label>
    
    <!-- Ліве передсердя -->
    <label class="form__field">
        <span class="form__label">Ліве передсердя</span>
        <input class="form__input" placeholder="межі норми : 1.9-4 см" list="la_aorta-sizes" step="0.1" type="number"
            name="la" id="la">
    </label>
    
    <!-- Аорта -->
    <label class="form__field">
        <span class="form__label">Аорта</span>
        <input class="form__input" placeholder="межі норми : 2-3.7 см" list="la_aorta-sizes" step="0.1" type="number"
            name="aorta" id="aorta">
    </label>
    
    <!-- Міжшлуночкова перегородка -->
    <label class="form__field">
        <span class="form__label">Міжшлуночкова перегородка</span>
        <input class="form__input" placeholder="межі норми : 0.6-1.1 см" list="wall-sizes" step="0.1" type="number"
            name="ivs" id="ivs">
    </label>
    
    <!-- Задня стінка ЛШ -->
    <label class="form__field">
        <span class="form__label">Задня стінка ЛШ</span>
        <input class="form__input" placeholder="межі норми : 0.6-1.1 см" list="wall-sizes" step="0.1" type="number"
            name="lvWall" id="lvWall">
    </label>
    
    <!-- Лівий шлуночок -->
    <label class="form__field">
        <span class="form__label">Лівий шлуночок</span>
        <input class="form__input" placeholder="межі норми : 3.5-5.7 см" list="lv-sizes" step="0.1" type="number" name="lv"
            id="lv">
    </label>
    
    <!-- Фракція викиду -->
    <label class="form__field">
        <span class="form__label">Фракція викиду</span>
        <input class="form__input" placeholder="межі норми : понад 55%" list="ef_datalist" type="number" name="ef" id="ef">
    </label>
    

    <include src="./partials/datalist/chambers-datalist.html"></include>
    <include src="./partials/datalist/ef-datalist.html"></include>
</section>