<div class="container">
  <svg width="200">
    <use href="./images/symbol-defs.svg#icon-RostMedical"></use>
  </svg>

  <form class="form" id="form">
    <include src="./partials/patient-info.html"></include>

    <h2 class="form__title">Протокол Ехо-КГ</h2>

    <div class="main-section">
      <!-- ///chambersANDwalls -->
      <include src="./partials/chambersANDwalls.html"></include>

      <!-- ///valves -->
      <include src="./partials/valves.html"></include>

      <!-- //Segments -->
      <include src="./partials/segments.html"></include>

      <section class="section result">
        <p class="section-title">Висновок:</p>

        <div class="result--centered">
          <div class="result-textarea" id="result"></div>

          <button class="button" id="btn" type="submit">Обробити дані</button>
        </div>
      </section>
    </div>
  </form>
</div>
