<section class="section">
  <div class="container">
    <svg width="200">
      <use href="./images/symbol-defs.svg#icon-RostMedical"></use>
    </svg>

    <form class="form" id="form">
      <h2 class="form__title">Протокол Ехо-КГ</h2>

      <include src="./partials/chambersANDwalls.html"></include>
      <include src="./partials/datalist/chambers-datalist.html"></include>
      
      <include src="./partials/valves.html"></include>

      <button class="button" id="btn" type="submit">Висновок</button>

      <div class="result" id="result"></div>



      <!-- <div class="group">
                                        <label for="mitral">Недостатність мітрального клапана</label>
                                        <input list="valves" id="mitral">
                                
                                        <datalist id="valves">
                                            <option>0.5+</option>
                                            <option>1+</option>
                                            <option>1.5+</option>
                                            <option>2+</option>
                                            <option>2.5+</option>
                                            <option>3+</option>
                                        </datalist>
                                
                                    </div>
                                    <div class="group"></div> -->



    </form>
  </div>
</section>