<div class="patient-info">
  <p class="section-title">Загальна інформація про пацієнта</p>
  <input
    type="text"
    name="surname"
    id="surname"
    class="form__input"
    placeholder="Введіть прізвище"
  />
  <input type="text" name="name" id="name" class="form__input" placeholder="Введіть ім'я" />
  <input
    type="text"
    name="secondname"
    id="secondname"
    class="form__input"
    placeholder="Введіть по батькові"
  />
  <div class="buttons">
    <button class="button" id="save-form-btn">Зберегти форму</button>
    <button class="button" id="clear-form-btn">Очистити форму</button>
  </div>
</div>
