<section class="section segments">
    
    <p class="section-title">Сегменти</p>

        <div class="segments-grid">
            <p class="segments-label"></p>
            <p class="segments-label">Передньо-перегородкові</p>
            <p class="segments-label">Передні</p>
            <p class="segments-label">Бокові</p>
            <p class="segments-label">Задні</p>
            <p class="segments-label">Нижні</p>
            <p class="segments-label">Перегородкові</p>
        
            <p class="segments-label">Базальні</p>
            <include src="./partials/datalist/segments/segments-datalist-1.html"></include>
            <include src="./partials/datalist/segments/segments-datalist-2.html"></include>
        
            <p class="segments-label">Середні</p>
            <include src="./partials/datalist/segments/segments-datalist-3.html"></include>
            <include src="./partials/datalist/segments/segments-datalist-4.html"></include>
        
            <p class="segments-label">Верхівкові</p>
            <include src="./partials/datalist/segments/segments-datalist-5.html"></include>
            <include src="./partials/datalist/segments/segments-datalist-6.html"></include>
        
        </div>


    <p>Діастолічне наповнення ЛШ: </p>
    <include src="./partials/datalist/diastolic-dysfunction-datalist.html"></include>

</section>
