<section class="section">
    <p class="section-title">Сегменти</p>

    <div class="segments-grid">
        <p></p>
        <p>Передньо-перегородкові</p>
        <p>Передні</p>
        <p>Бокові</p>

        <p>Базальні</p>
        <include src="./partials/datalist/segments/segments-datalist-1.html"></include>

        <p>Середні</p>
            <include src="./partials/datalist/segments/segments-datalist-3.html"></include>

        <p>Верхівкові</p>
            <include src="./partials/datalist/segments/segments-datalist-5.html"></include>

    </div>
    <div class="segments-grid">
        <p>Сегменти</p>
        <p>Задні</p>
        <p>Нижні</p>
        <p>Перегородкові</p>

        <p>Базальні</p>
                <include src="./partials/datalist/segments/segments-datalist-2.html"></include>

        <p>Середні</p>
                <include src="./partials/datalist/segments/segments-datalist-4.html"></include>

        <p>Верхівкові</p>
                <include src="./partials/datalist/segments/segments-datalist-6.html"></include>

    </div>

</section>
