<!-- <label class="form__field">
    <span class="form__label">Мітральний клапан <span id="alert" class="form__alert"></span></span>
    <input class="form__input" placeholder="межі норми : 0.9-2.6 см" list="rv-sizes" step="0.1" type="number" name="rv"
        id="rv" autofocus>
</label> -->

<div class="valves">

    <!-- ////////////Мітральний клапан//////// -->
    <div class="valve">
            <div class="valves-info">
                <p>Клапан</p>
                <p>Недостатність</p>
                <p>Кальциноз</p>
                <p>Додаткові дані</p>
            </div>
            
            <div class="valves-data">
                <p>Мітральний клапан</p>
            
                <label class="form-field__valves">
                    <span class="visually-hidden">Мітральний клапан. Недостатність. </span>
                    <input type="text" class="form-input__valves" name="mInsuf" list="valves-insufficiency">
                </label>
            
                <label class="form-field__valves">
                    <span class="visually-hidden">Мітральний клапан. Кальциноз. </span>
                    <input type="text" class="form-input__valves" name="mCalc" list="valves-calcification">
                </label>
            
                <label class="form-field__valves">
                    <span class="visually-hidden">Мітральний клапан. Додаткові дані. </span>
                    <input type="text" class="form-input__valves" name="mitral-insufficiency">
                </label>
            </div>
    </div>


   <!-- /////////////Аортальний клапан/////////// -->
        <div class="valve">
            <div class="valves-info">
                <p>Клапан</p>
                <p>Недостатність</p>
                <p>Кальциноз</p>
                <p>Додаткові дані</p>
            </div>

            <div class="valves-data">
                <p>Аортальний клапан</p>
        
                <label class="form-field__valves">
                    <span class="visually-hidden">Аортальний клапан. Недостатність. </span>
                    <input type="text" class="form-input__valves" name="aInsuf" list="valves-insufficiency">
                </label>
        
                <label class="form-field__valves">
                    <span class="visually-hidden">Аортальний клапан. Кальциноз. </span>
                    <input type="text" class="form-input__valves" name="aCalc" list="valves-calcification">
                </label>
        
                <label class="form-field__valves">
                    <span class="visually-hidden">Аортальний клапан. Додаткові дані. </span>
                    <input type="text" class="form-input__valves" name="mitral-insufficiency">
                </label>
            </div>
        </div>

<!-- ////////////////Тристулковий клапан///////////// -->
            <div class="valve">
                <div class="valves-info">
                    <p>Клапан</p>
                    <p>Недостатність</p>
                    <p>Кальциноз</p>
                    <p>Додаткові дані</p>
                </div>
            
                <div class="valves-data">
                    <p>Тристулковий клапан</p>
            
                    <label class="form-field__valves">
                        <span class="visually-hidden">Тристулковий клапан. Недостатність. </span>
                        <input type="text" class="form-input__valves" name="tInsuf" list="valves-insufficiency">
                    </label>
            
                    <label class="form-field__valves">
                        <span class="visually-hidden">Тристулковий клапан. Кальциноз. </span>
                        <input type="text" class="form-input__valves" name="tCalc" list="valves-calcification">
                    </label>
            
                    <label class="form-field__valves">
                        <span class="visually-hidden">Тристулковий клапан. Додаткові дані. </span>
                        <input type="text" class="form-input__valves" name="mitral-insufficiency">
                    </label>
                </div>
            </div>


  <!-- ////////////// Клапан легеневої артерії//////////////////// -->
                <div class="valve">
                    <div class="valves-info">
                        <p>Клапан</p>
                        <p>Недостатність</p>
                        <p>Кальциноз</p>
                        <p>Додаткові дані</p>
                    </div>
                
                    <div class="valves-data">
                        <p>Клапан легеневої артерії</p>
                
                        <label class="form-field__valves">
                            <span class="visually-hidden">Клапан легеневої артерії. Недостатність. </span>
                            <input type="text" class="form-input__valves" name="laInsuf" list="valves-insufficiency">
                        </label>
                
                        <label class="form-field__valves">
                            <span class="visually-hidden">Клапан легеневої артерії. Кальциноз. </span>
                            <input type="text" class="form-input__valves" name="laCalc" list="valves-calcification">
                        </label>
                
                        <label class="form-field__valves">
                            <span class="visually-hidden">Клапан легеневої артерії. Додаткові дані. </span>
                            <input type="text" class="form-input__valves" name="mitral-insufficiency">
                        </label>
                    </div>
                </div>

</div>