<section class="section">
    <p class="section-title">Клапани серця</p>
    
    <div class="valves">
    
    
    
        <!-- ////////////Мітральний клапан//////// -->
        <div class="valve">
    
            <div class="valves-data">
                <p class="valves-title">Мітральний</p>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Мітральний клапан. Недостатність. </span>
    
                    <input type="text" class="form-input__valves" name="mInsuf" list="valves-insufficiency" placeholder=" ">
                    <span class="form-label__valves">Недостатність. </span>
                </label>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Мітральний клапан. Кальциноз. </span>
    
                    <input type="text" class="form-input__valves" name="mCalc" list="valves-calcification"  placeholder=" ">
                    <span class="form-label__valves">Кальциноз. </span>
                </label>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Мітральний клапан. Додаткові дані. </span>
    
                    <input type="text" class="form-input__valves" name="mitral-insufficiency"  placeholder=" ">
                    <span class="form-label__valves">Додаткові дані. </span>
                </label>
            </div>
        </div>
    
    
        <!-- /////////////Аортальний клапан/////////// -->
        <div class="valve">
    
            <div class="valves-data">
                <p class="valves-title">Аортальний</p>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Аортальний клапан. Недостатність. </span>
    
                    <input type="text" class="form-input__valves" name="aInsuf" list="valves-insufficiency"  placeholder=" ">
                    <span class="form-label__valves">Недостатність. </span>
                </label>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Аортальний клапан. Кальциноз. </span>
    
                    <input type="text" class="form-input__valves" name="aCalc" list="valves-calcification"  placeholder=" ">
                    <span class="form-label__valves">Кальциноз. </span>
                </label>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Аортальний клапан. Додаткові дані. </span>
    
                    <input type="text" class="form-input__valves" name="mitral-insufficiency"  placeholder=" ">
                    <span class="form-label__valves">Додаткові дані. </span>
                </label>
            </div>
        </div>
    
        <!-- ////////////////Тристулковий клапан///////////// -->
        <div class="valve">
    
            <div class="valves-data">
                <p class="valves-title">Тристулковий</p>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Тристулковий клапан. Недостатність. </span>
    
                    <input type="text" class="form-input__valves" name="tInsuf" list="valves-insufficiency"  placeholder=" ">
                    <span class="form-label__valves">Недостатність. </span>
                </label>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Тристулковий клапан. Кальциноз. </span>
    
                    <input type="text" class="form-input__valves" name="tCalc" list="valves-calcification"  placeholder=" ">
                    <span class="form-label__valves">Кальциноз. </span>
                </label>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Тристулковий клапан. Додаткові дані. </span>
    
                    <input type="text" class="form-input__valves" name="mitral-insufficiency"  placeholder=" ">
                    <span class="form-label__valves">Додаткові дані. </span>
                </label>
            </div>
        </div>
    
    
        <!-- ////////////// Клапан легеневої артерії//////////////////// -->
        <div class="valve">
    
            <div class="valves-data">
                <p class="valves-title">Легеневої артерії</p>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Клапан легеневої артерії. Недостатність. </span>
    
                    <input type="text" class="form-input__valves" name="laInsuf" list="valves-insufficiency"  placeholder=" ">
                    <span class="form-label__valves">Недостатність. </span>
                </label>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Клапан легеневої артерії. Кальциноз. </span>
    
                    <input type="text" class="form-input__valves" name="laCalc" list="valves-calcification"  placeholder=" ">
                    <span class="form-label__valves">Кальциноз. </span>
                </label>
    
                <label class="form-field__valves">
                    <span class="visually-hidden">Клапан легеневої артерії. Додаткові дані. </span>
    
                    <input type="text" class="form-input__valves" name="mitral-insufficiency"  placeholder=" ">
                    <span class="form-label__valves">Додаткові дані. </span>
                </label>
            </div>
        </div>
    
    </div>


    <include src="./partials/datalist/valves-datalist.html"></include>
</section>