.section.segments{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.segments-flex{
    display: flex;
}

.segments-grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);

    text-align: start;
}
.segments-input{
    display: block;
    height: 50px;

        @include mq(mobile-only) {
                font-size: 8px;
            }
}

.segments-label{
    @include mq(mobile-only){
        font-size: 8px;
    }
}