.section.segments{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

        @include mq(mobile-only) {
                padding: 7px;
            }
}


.segments-grid{
    display: grid;
    grid-template-columns: repeat(7,auto);

    text-align: start;
}
.segments-input{
    display: block;
    height: 50px;

    @include mq(mobile-only) {
                font-size: 8px;
            }

    @media screen and (max-width: 480px){
        font-size: 6px;
      }
}

.segments-label{

    @include mq(mobile-only){
        font-size: 8px;
    }

    @media screen and (max-width: 480px){
        font-size: 6px;
      }
}