.section-title{
    font-size: 19px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 20px;
}
.valves{
display: grid;
gap: 5px;
grid-template-columns: repeat(2,1fr);
}

.valve{
max-width: 100%;
padding: 2px;


}

.valves-info{
    text-align: start;
}

.valves-title{
    margin-bottom: 20px;
}

.form-field__valves{
        position: relative;
        display: block;
        
        margin-bottom: 28px;
        
        letter-spacing: 0.01em;
}

.form-label__valves{
        position: absolute;
        left: 3%;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        
        font-size: 12px;
        line-height: 1.17;
}

.form-input__valves{
        width: 100%;
            margin: 0;
            padding: 12px 16px 12px 42px;
        
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.01em;
        
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
        
            color: $secondary-txt;
        
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &::placeholder {
                color: rgba(0, 0, 0, 0.23);
            }
        
            &:focus-visible {
                outline: 1px solid $hover-accent;
            }
///
         &:focus-visible + .form-label__valves{
            transform: translateY(-280%);
            // transform: translateY(calc(-1 * (100% + 4px)));
         }
        
            .form__field:hover &,
            .form__field:focus & {
                border: 1px solid $hover-accent;
            }
}