<select id="diastolDysf" name="diastolDysf" class="">
    <optgroup label="Типи">
        <option value="" selected></option>
        <option value="I тип" >I тип</option>
        <option value="II тип" >II тип</option>
        <option value="III тип" >III тип</option>
        <option value="IV тип" >IV тип</option>
    </optgroup>
</select>

<select id="diastolDysf" name="diastolDysfPlus" class="">
    <optgroup label="Додаткові дані">
        <option value="" selected></option>
        <option value="тахікардія">тахікардія</option>
        <option value="шлуночкова екстраситолія" >шлуночкова екстраситолія</option>
        <option value="тахікардія, шлуночкова екстраситолія" >тахікардія, шлуночкова екстраситолія</option>
        <option value="аритмія">аритмія</option>
    </optgroup>
</select>