<select id="diastolDysf" name="diastolDysf" class="">
    <optgroup label="Типи">
        <option value="I тип" selected>I тип</option>
        <option value="II тип" selected>II тип</option>
        <option value="III тип" selected>III тип</option>
        <option value="IV тип" selected>IV тип</option>
    </optgroup>
</select>

<select id="diastolDysf" name="diastolDysfPlus" class="">
    <optgroup label="Додаткові дані">
        <option value="тахікардія" selected>тахікардія</option>
        <option value="шлуночкова екстраситолія" selected>шлуночкова екстраситолія</option>
        <option value="тахікардія, шлуночкова екстраситолія" selected>тахікардія, шлуночкова екстраситолія</option>
        <option value="аритмія" selected>аритмія</option>
    </optgroup>
</select>