<datalist id="valves-insufficiency">
    <option>0.5+</option>
    <option>1+</option>
    <option>1.5+</option>
    <option>2+</option>
    <option>2.5+</option>
    <option>3+</option>
    <option>відносна</option>
    <option>слідова</option>
</datalist>


<datalist id="valves-calcification">
    <option>Стулки ущільнені</option>
    <option>Фіброзні зміни</option>
    <option>Са задньої стулки</option>
    <option>0.5+</option>
    <option>1+</option>
    <option>1.5+</option>
    <option>2+</option>
    <option>2.5+</option>
    <option>3+</option>
    <option>3,5+</option>
    <option>4+</option>
    <option>Відносний</option>
</datalist>


<datalist id="valves-add-m">
    <option>протез</option>
    <option>пролапс обох стулок</option>
    <option>пролапс задньої стулки</option>
    <option>пролапс передньої стулки</option>
</datalist>
<datalist id="valves-add-a">
    <option>ΔPсер</option>
</datalist>
<datalist id="valves-add-t">
    <option>ΔрТК мм Hg</option>
</datalist>
<datalist id="valves-add-la">
    <option>Тас 100 мс</option>
</datalist>