<datalist id="valves-insufficiency">
    <!-- <option>-</option> -->
    <option>0.5+</option>
    <option>1+</option>
    <option>1.5+</option>
    <option>2+</option>
    <option>2.5+</option>
    <option>3+</option>
    <option>відносна</option>
    <option>слідова</option>
</datalist>


<datalist id="valves-calcification">
    <!-- <option>-</option> -->
    <option>стулки ущільнені</option>
    <option>фіброзні зміни</option>
    <option>Са задньої стулки</option>
    <option>0.5+</option>
    <option>1+</option>
    <option>1.5+</option>
    <option>2+</option>
    <option>2.5+</option>
    <option>3+</option>
    <option>3,5+</option>
    <option>4+</option>
    <option>відносний</option>
    <option>слідова</option>
</datalist>