<!-- <div class="group">
                                        <label for="mitral">Недостатність мітрального клапана</label>
                                        <input list="valves" id="mitral">
                                
                                        <datalist id="valves">
                                            <option>0.5+</option>
                                            <option>1+</option>
                                            <option>1.5+</option>
                                            <option>2+</option>
                                            <option>2.5+</option>
                                            <option>3+</option>
                                        </datalist>
                                
                                    </div>
                                    <div class="group"></div> -->